<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
<bean id="Role" class="ustbatchno3.DI_Setterinjection.Role"> 
	<property name="character" value="sona"></property>
	<property name="responsibility" value="sister"></property>
	
</bean>
<bean id="Role1" class="ustbatchno3.DI_Setterinjection.Role"> 
	<property name="character" value="sonu"></property>
	<property name="responsibility" value="sis"></property>
	
</bean>
</beans>